.login-box{
    
    margin-top: 110px;
    font-size: 25px;
    color: #036fab;
}
.login-painel{
    
    background: #FFFFFF;
    width: 350px;
    height: 350px;
}
.login-button{
    
    border: 1px solid;
    text-align: center;
    width: 290px;
    margin-top: 18px;
    background: #036fab;
    font-size: 15px;
    color: #FFFFFF;
}
.ui-icon.fa {
    text-indent:0px
}
